parameters:
	level: 9
	paths:
		- src
	ignoreErrors:
		# ProtocolTrait uses runtime assertion (assertSecretKeySet) that PHPStan can't track
		- message: '#Parameter \#2 \$secretKey of method .+::handle\(\) expects FediE2EE\\PKD\\Crypto\\SecretKey, FediE2EE\\PKD\\Crypto\\SecretKey\|null given#'
		  path: src/Features/ProtocolTrait.php
		# APTrait used in anonymous test classes where $pk may be unset
		- message: '#Parameter \#1 \$publicKey of method .+::verify\(\) expects FediE2EE\\PKD\\Crypto\\PublicKey, FediE2EE\\PKD\\Crypto\\PublicKey\|null given#'
		  path: src/Features/APTrait.php
		# PublishTrait null checks don't propagate across control flow
		- message: '#Cannot call method get\(\) on GuzzleHttp\\Client\|null#'
		  path: src/Features/PublishTrait.php
		# Defensive runtime checks that are always true for actual implementations
